name: Deploy to EC2

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          set -e
          cd /home/ubuntu/apps/next-docker-ec2
          git fetch --all
          git reset --hard origin/main
          docker compose up -d --build
          docker image prune -f
